<html>
	<head>
		<%- include("./partials/defaultHeadContent.ejs") %>
	</head>
	<body>
		<%- include("./partials/banner.ejs") %>
		<%- include("./partials/navbar.ejs") %>
			<div class="content">
				<h1 class="accent text-center">Think of a service...</h3>
				<h3 class="text-center">That can design you a software of your <bold class="accent" style="font-size: 20px;">dreams.</bold>
					<br><a href="https://discord.gg/AmEtpsFcY8"><button class="gradient-animated">Join Discord Server</button></a>
			<h3 class="text-center">We are here to;</h3>
			<strong class="accent"><i class="icon arrow-r"></i>Design you Discord bots of your ideas.</strong>

<p>You explain we do. You say, we repeat. <bold>Everything is under your control</bold>.</p>
			<strong class="accent"><i class="icon arrow-r"></i>Assist you with your coding problems.</strong>
					<p>Join our Discord server to get more information, or get assistance in your coding issues. We are here to <bold>help</bold>.</p>
					<h3 class="text-center">Take a look at our projects.</h3>
					<p class="accent text-center">We design enjoyment.</p>
					<div class="project-card">
						<div class="project-info"><img src="https://zonobot.files.wordpress.com/2023/06/img_3830.png">
							<h3 class="accent"><i class="icon js"></i><i class="icon star"></i>SwiftlyRoblox</h3>
							<p>SwiftlyRoblox is our newest project. Swift. is used for fun and enjoyment purposes. Swift. is still in beta.</p>
						</div>
						<div class="project-actions">
							<a href="https://discord.com/api/oauth2/authorize?client_id=1119975096552001716&permissions=8&scope=bot"><button>Invite Swift.</button></a>
						</div>
					</div>
										<div class="project-card">
						<div class="project-info"><img src="https://media.discordapp.net/attachments/1128593975096389722/1128658786354221117/7C229394-61D6-487D-B2E2-C5DD4D6A23BA.png">
							<h3 class="accent"><i class="icon py"></i>Zono</h3>
							<p>Zono is a multipurpose bot that was designed in the early stages of Zono Development Team. It offers high quality stuff such as moderation and economy for your server. This bot was designed by <bold>kno.py</bold>.</p>
						</div>
											<div class="project-actions">
							<a href="https://discord.com/api/oauth2/authorize?client_id=1092714789635104818&permissions=8&scope=bot"><button>Invite Zono</button></a>
											</div>
								</div>
						<div class="project-card">
						<div class="project-info"><img src="https://media.discordapp.net/attachments/1128593975096389722/1128658786354221117/7C229394-61D6-487D-B2E2-C5DD4D6A23BA.png">
							<h3 class="accent"><i class="icon js"></i>Zono ALPHA</h3>
							<p>Zono ALPHA is a sequel to Zono, for a bot which is not supported but it still offers high quality service.</p>
						</div>
							<div class="project-actions">
							<a href="https://discord.com/api/oauth2/authorize?client_id=1093080763450277898&permissions=8&scope=bot%20https://discord.com/api/oauth2/authorize?client_id=1093080763450277898&permissions=8&scope=bot"><button>Invite Zono ALPHA</button></a>

							</div>
						</div>
				</div>
	</body>
</html>